@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;


html,
body {
    margin:0;
    padding:0;
    height:100%;
    width:100%
}
#root {
    height:100%;
    width:100%
}

/*select選單的預設箭頭icon拿掉*/
select {
    padding: 10px;
    padding-right: 30px;

    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-repeat: no-repeat, repeat;
    background-position: right 0.3em top 50%, 0 0;
    background-size: 1.8em auto, 100%;
}
/* For IE (thanks to @SaiManoj) */
select::-ms-expand {
    display: none;
}

/*input box樣式調整*/
.ais-SearchBox-input[type="search"]::-webkit-search-cancel-button {
    display: none;
}
.ais-SearchBox .ais-SearchBox-input {
    width: 15rem;
    height: 2.5rem;
    border-radius: 0.75rem;
    margin-left: 1rem;
    padding-left: 2.75rem;
    margin-top: 1rem;
}
.ais-SearchBox-resetIcon {
    display: none;
}
.ais-SearchBox-submit {
    display: none;
}
.ais-SearchBox-loadingIndicator {
    display: none;
}
/*修改搜尋card的highlight樣式*/
.ais-Highlight-highlighted {
    background-color: rgb(254 240 138);
    font-style: normal;
}
/*搜尋頁下方分頁*/
.ais-Pagination-list {
    display: flex;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem; 
}
.ais-Pagination-item {
    margin-left: 0.5rem; 
    margin-right: 0.5rem;  
}
/*搜尋頁左方分類欄位*/
.ais-RefinementList-item {
    margin-top: 0.875rem; /* 14px */
    margin-bottom: 0.875rem; /* 14px */
}
.ais-RefinementList-labelText {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.ais-RefinementList-checkbox {
    width: 0.875rem;
    height: 0.875rem;
}
.ais-RefinementList-count {
    color: rgb(113 113 122);
}
/*進場動畫*/
.tracking-in-expand{
    animation:tracking-in-expand 0.8s cubic-bezier(.215,.61,.355,1.000) .4s both
}
@keyframes tracking-in-expand{
    0%{letter-spacing:-.5em;opacity:1}
    40%{opacity:1}
    100%{opacity:1}
}
.tracking-out-contract{
    animation:tracking-out-contract .8s cubic-bezier(.55,.085,.68,.53) .3s both
}
@keyframes tracking-out-contract{
    0%{opacity:1}
    50%{opacity:1}
    75%{opacity:0.8}
    85%{opacity: 0.6}
    95%{opacity:0.4}
    100%{letter-spacing:-.5em;opacity:0}
}

/*壓縮重複使用的class*/
@layer components {
    .nav-button {
        @apply mx-6 cursor-pointer h-16 leading-11 mt-0.5 hover:text-slate-700 border-solid hover:border-b-4 border-sky-200
    }
    .black-button {
        @apply block border-2 rounded-lg p-2 m-3 bg-slate-800 hover:bg-slate-600 text-slate-100
    }
}